<div class="col-lg-12 col-md-12">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h2>User Manage Table</h2>
                </div>
                <div class="col-lg-6 col-md-6">
                    <app-search (searchTextPassed)="searchTextPassedCaptured($event)"></app-search>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <app-table [tableData]="tableDataFromUser"></app-table>
        </div>
    </div>
</div>