<table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col" >S. No.</th>
        <th scope="col" *ngFor="let i of tableData?.tableHeader;">{{i}}</th>
      </tr>
    </thead>
    <tbody>
        <tr scope="col" *ngFor="let i of tableData?.tableData;let in = index">            
            <th scope="row">{{in}}</th>
            <td>{{i?.name}}</td>
            <td>{{i?.class}}</td>
            <td>{{i?.gender}}</td>
            <td>{{i?.email}}</td>
            <td>{{i?.location}}</td>
            <td>
                <span *ngFor="let j of i?.action" style="font-weight:bold;" class="cursorHand">  
                    <span *ngIf=" j === 'add' ">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;&nbsp;
                    </span>
                    <span *ngIf=" j === 'delete' ">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </span>
                </span>
            </td>
        </tr>
    </tbody>
  </table>
  